/* This is an example of how to import a partial scss file*/
@import '_variables';
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

body {
  background: $primary-background;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: grid;
  grid-template-columns: 15em 15em 15em;
  background-color: white;
  width: 45em;
}

.card {
  border: 1px solid black;
  padding: 3em;
  justify-self: center;
}
.card img {
  height: 8em;
  width: inherit;
}
