/* This is an example of how to import a partial scss file*/
@import '_variables';
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

body {
  background: $background-image;
}

nav {
  background-color: $light-tan;
  height: 10%;
}

h3 {
  color: $light-tan;
  font-size: 2em;
}

.error-message {
  color: red;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

header {
  width: 30%;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: $light-tan;
}

main, nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.card-container {
  @include border();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $dark-tan;
  width: 50em;
  height: 50em;
  overflow: scroll;
}

.card {
  @include border();
  color: black;
  font-size: 1em;
  background-color: $light-tan;
  width: 250px;
  height: 400px;
  padding: 3em;
  padding-top: 1em;
  margin: .5em;
}

.card img {
  height: 8em;
  width: inherit;
}

.new-trip-form {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}
